.sidebar {
  height: 94vh;
  flex: 0.2;
  background: #040404;
  color: white;
  min-width: 230px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.sidebar__logo {
  margin-right: auto;
  object-fit: contain;
  height: 40px;
  width: 131px;
  padding-top: 24px;
  padding-left: 14px;
  margin-bottom: 16px;
}

.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}

.sidebar__playlists {
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 61vh;
}
